@import "form.css";

body {
  padding: 50px;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
}
p{
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.logout{
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #e86f51;
   position:absolute;
   top:10px;
   right:10px;
}
.buton{
  background-color: gray;
  height: 150px;
  width: 100px;
  border: 1px solid black;
  border-radius: 25px;
}
.mainpage{
  position: relative;
  top: 10px;
  left: 40%;
}

table{
  border-collapse: collapse;
  border: 1px solid black;
  opacity: 0.9;
  text-align: center;
  font-size: 10px;
}
table td, table th{
  padding: 8px;
  border: 1px solid black;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
table tr{background-color: white;}
table tr:nth-child(even){background-color: #afafaf;}
table tr:hover {background-color: #ddd;}
table p{
  font-size: 18px;
}
