header
  title TrustUs.Life

  link(rel="stylesheet", href="/stylesheets/style.css")

  meta(charset="UTF-8")
body
  div.container
      p Welcome to TrustUs.life
      div.mainpage
        a.buton(href="/login") Log In
        br
        br
        br
        br
        a.buton(href="/signup") Sign Up
