extends layout

block content
  h1= title
  form#formLogIn(name="login",method="post",action="/loginverify")
        input#inputE-mail(type="text", placeholder="Enter e-mail", name="email")
        input#inputPassword(type="password", placeholder="Password", name="passwd")
        button#btnLogin(type="submit") Log In